extends layout

block content
  h1 #{title}: #{bookinstance.book.title}
  p ID: #[a(href=bookinstance._id) #{bookinstance._id}]
    | #[br] Imprint: #[strong #{bookinstance.imprint}]

  p Do you really want to delete this Book Instance?

  form(method='POST' action='')
    div.form-group
      input#bookinstanceid.form-control(type='hidden', name='authorid' required='true' value=bookinstance._id)

    button.btn.btn-primary(type='submit') Delete