<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>
        <a href=<%= url[0] %>>
          <%= catalog[0] %>
        </a>
      </li>
      <li>
        <a href=<%= url[1] %>>
          <%= catalog[1] %>
        </a>
      </li>
      <li>
        <a href=<%= url[2] %>>
          <%= catalog[2] %>
        </a>
      </li>
      <li>
        <a href=<%= url[3] %>>
          <%= catalog[3] %>
        </a>
      </li>
    </ul>

    <a href=<%= '/' %>>&lt;- Home</a>
  </body>
</html>
